/* Empty. Add your own CSS if you like */
h1 {
  padding-left: 5%;
}

#map {
  height: 75%;
}

.eventList {
	background-color: white;
	color: #666;
	max-width: 450px;
}

.allAttendees {
	padding: 10px;
}

.attendeeName {
	padding: 20px;
	text-align: top;
}